config  samba
	option 'name'			'samba'
	option 'workgroup'		'WORKGROUP'
	option 'description'	'samba'
	option 'guest_ok'		'yes'
	option 'guest_account'	'root'
	option 'homes' 			'1'
		
config  sambashare1
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'

config  sambashare2
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare3
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare4
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare5
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare6
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare7
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare8
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare9
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare10
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare11
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare12
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare13
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare14
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare15
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare16
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
config  sambashare
	option 'name'			'usb'
	option 'path'			'/tmp/usb'
	option 'read_only'		'no'
	option 'writable'		'yes'
	option 'guest_ok'		'yes'
	option 'create_mask'	'0777'
	option 'dir_mask'		'0777'
	#option 'users'			'abc'
	
