config defaults
	option syn_flood	1
	option input		ACCEPT
	option output		ACCEPT
	option forward		DROP
	option disable_ipv6 1

config zone
	option name		lan
	option input	ACCEPT
	option output	ACCEPT
	option forward	DROP

config zone
	option name		lan1
	option input	ACCEPT
	option output	ACCEPT
	option forward	DROP

config zone
	option name		lan2
	option input	ACCEPT
	option output	ACCEPT
	option forward	DROP

config zone
	option name		lan3
	option input	ACCEPT
	option output	ACCEPT
	option forward	DROP


config zone
	option name		wan100
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1

config zone
	option name		wan101
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1

config zone
	option name		wan102
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1


config zone
	option name		wan303
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1


config forwarding
	option src      lan
	option dest     wan100


config forwarding
	option src      lan
	option dest     wan101


config forwarding
	option src      lan
	option dest     wan102


config forwarding
	option src      lan
	option dest     wan303


config forwarding
	option src      lan1
	option dest     wan100


config forwarding
	option src      lan1
	option dest     wan101


config forwarding
	option src      lan1
	option dest     wan102


config forwarding
	option src      lan1
	option dest     wan303


config forwarding
	option src      lan2
	option dest     wan100


config forwarding
	option src      lan2
	option dest     wan101



config forwarding
	option src      lan2
	option dest     wan102



config forwarding
	option src      lan2
	option dest     wan303



config forwarding
	option src      lan3
	option dest     wan100



config forwarding
	option src      lan3
	option dest     wan101



config forwarding
	option src      lan3
	option dest     wan102



config forwarding
	option src      lan3
	option dest     wan303




config rule
	option src		wan100
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan101
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan102
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan100
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan101
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan102
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan100
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan101
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan102
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan101
	option proto	all
	option dest		wan100
	option target	DROP

#block Netbios traffic from lan to wan
config rule
	option proto	udp
	option dest		wan100
	option dest_port	137-138
	option target	DROP
config rule
	option proto	udp
	option dest		wan101
	option dest_port	137-138
	option target	DROP
config rule
	option proto	udp
	option dest		wan102
	option dest_port	137-138
	option target	DROP
config rule
	option proto	udp
	option dest		wan303
	option dest_port	137-138
	option target	DROP


# include a file with users custom iptables rules
config include
	option path /lib/firewall/firewall.user

#config include
#	option path /lib/firewall/firewallv6.user