config defaults
	option syn_flood	1
	option input		ACCEPT
	option output		ACCEPT
	option forward		DROP
	option disable_ipv6 1

config zone
	option name		lan
	option input	ACCEPT
	option output	ACCEPT
	option forward	DROP

config zone
	option name		lan1
	option input	ACCEPT
	option output	ACCEPT
	option forward	DROP


config zone
	option name		wan300
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1


config zone
	option name		wan301
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1


config zone
	option name		wan302
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1


config zone
	option name		wan303
	option input	DROP
	option output	ACCEPT
	option forward	DROP
	option masq		1
	option mtu_fix	1


config forwarding
	option src      lan
	option dest     wan300



config forwarding
	option src      lan
	option dest     wan301



config forwarding
	option src      lan
	option dest     wan302



config forwarding
	option src      lan
	option dest     wan303



config forwarding
	option src      lan1
	option dest     wan300



config forwarding
	option src      lan1
	option dest     wan301



config forwarding
	option src      lan1
	option dest     wan302



config forwarding
	option src      lan1
	option dest     wan303


config rule
	option src		wan300
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan301
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan302
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan303
	option proto	udp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan300
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan301
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan302
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan303
	option proto	udp
	option dest		lan
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan300
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan301
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan302
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan303
	option proto	igmp
	option dest_ip	224.0.0.0/4
	option target	ACCEPT

config rule
	option src		wan301
	option proto	all
	option dest		wan300
	option target	DROP

#block Netbios traffic from lan to wan
config rule
	option proto	udp
	option dest		wan300
	option dest_port	137-138
	option target	DROP
config rule
	option proto	udp
	option dest		wan301
	option dest_port	137-138
	option target	DROP
config rule
	option proto	udp
	option dest		wan302
	option dest_port	137-138
	option target	DROP
config rule
	option proto	udp
	option dest		wan303
	option dest_port	137-138
	option target	DROP


# include a file with users custom iptables rules
config include
	option path /lib/firewall/firewall.user

#config include
#	option path /lib/firewall/firewallv6.user