#LAN
config pure-ftpd
	option port             '192.168.2.1,21'
	option noanonymous      '1'
	option chrooteveryone   '1'
	option maxclientsperip  '10'
	option maxclientsnumber '4'
	option peruserlimits    '3:4'
	option umask            '133:022'
	option authentication   'puredb:/tmp/pure-ftpd/pure-ftpd.pdb'
	option enabled          '1'
	option tls              '0'
#	option tls              '2' //explicit TLS/SSL

#WAN
config pure-ftpd
	option port             '192.169.2.1,21'
	option noanonymous      '1'
	option chrooteveryone   '1'
	option maxclientsperip  '10'
	option maxclientsnumber '4'
	option peruserlimits    '3:4'
	option umask            '133:022'
	option authentication   'puredb:/tmp/pure-ftpd/pure-ftpd.pdb'
	option enabled          '0'
	option tls              '0'
#	option tls              '2' //explicit TLS/SSL
